@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities; 


body{
  @apply m-0 p-0 ot-ss03 selection:bg-purple-100 selection:text-purple-800;
  font-family: 'GT-America', sans-serif; 
}

.gt{
  font-family: 'GT-America', sans-serif;
}

.font-ultra-condensed{
  font-stretch: ultra-condensed;
}

.font-condensed{
  font-stretch: condensed;
}

.font-expanded{
  font-stretch: expanded;
}

.font-ultra-expanded{
  font-stretch: ultra-expanded;
}

.font-mono{
  font-family: "GT-America-Mono", monospace;
}

.font-times{
  font-family: "Times New Roman", serif;
}

.slant-clip{
  clip-path: polygon(4px 0%, 100% 0%, calc(100% - 4px) 100%, 0% 100%);
}

.top-clip{
  clip-path: polygon(4px 0%, calc(100% - 4px) 0, 100% 100%, 0% 100%);
}

.bottom-right-clip{
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 4px), 0% 100%);
}

.bg-black{
  @apply text-white;
  .from-white{
    @apply from-black;
  }
  .border-white{
    @apply border-black;
  }
}

.text-orange{
  @apply contrast-more:text-orange-800;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
    @apply hidden;
    -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.charm-container {
  position: relative;
  width: 200px;
  height: 35px;
  overflow: hidden;
}

.charm-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  color:#fff;
  transform: translateY(-100%);
  opacity: 1;
  animation: swipe 8.8s ease-in-out infinite; /* Adjusted total animation duration */
  will-change: transform, opacity;
}

#date {
  animation-delay: 0s;
}

#subscribe {
  animation-delay: -2.2s;
}

#time {
  animation-delay: -4.4s;
}

#weather {
  animation-delay: -6.6s;
}


@keyframes swipe {
  0%, 100% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  6.25%, 25% { /* Adjusted for faster transition */
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  31.25%, 50% { /* Adjusted for faster transition */
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}



/* article body */

.article-body{
  @apply text-lg lg:px-0;

  > * {
    @apply mb-4 px-4 max-w-3xl mx-auto
  }

  > p, ul, ol {
    > a{
       @apply text-purple-700 underline underline-offset-2 bg-purple-70 hover:text-purple;
      }
    }

  ul,ol{
    @apply flex flex-col pl-8 gap-2 divide-y;

    li{
      @apply pt-2;
    }
  }

  ul{
    @apply list-square marker:text-purple-700;
  }

  ol{
    @apply list-decimal marker:text-purple-700 marker:font-bold;
  }

}


/* color stripe gradient stops, as far as I can tell, Tailwind will only allow one hard-stop and we needed more */
.bg-gradient{
  background: linear-gradient(
    -45deg, 
    theme('colors.orange-400'),
    theme('colors.orange-400') 30%,
    theme('colors.black') 30%,
    theme('colors.black') 60%,
    theme('colors.orange') 60%,
    theme('colors.orange')
  )
  }
.bg-gradient-flip{
  background: linear-gradient(
    -45deg, 
    theme('colors.orange'),
    theme('colors.orange') 30%,
    theme('colors.black') 30%,
    theme('colors.black') 60%,
    theme('colors.orange-400') 60%,
    theme('colors.orange-400')
  )
  }

  /* documentation styles, only for this repo */
  .docs{
    @apply bg-orange-300 mb-4 p-4;
  }
