@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gt-compressed";
  src: url("../fonts/GT America Compressed Ultra Light.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url("../fonts/GT America Compressed Ultra Light Italic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url("../fonts/GT America Compressed Thin.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Thin Italic.otf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Light.otf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Light Italic.otf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Regular.otf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Regular Italic.otf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Medium.otf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Medium Italic.otf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Bold.otf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Bold Italic.otf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Black.otf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "gt-compressed";
  src: url(../fonts/GT America Compressed Black Italic.otf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

@layer utilities {
  .font-condensed {
    font-stretch: 62%;
  }
  .font-not-condensed {
    font-stretch: 100%;
  }
}

body{
  @apply m-0 p-0;
}

.archivo{
  font-family: 'gt-compressed', sans-serif;
}

.archivo-narrow{
  font-family: 'gt-compressed', sans-serif;

}

.archivo-black{
  font-family: 'gt-compressed', sans-serif;
}

.charm-container {
  position: relative;
  width: 200px;
  height: 35px;
  overflow: hidden;
}

.charm-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #000;
  color:#fff;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  animation: swipe 16s ease-in-out infinite; /* Adjusted total animation duration */
  will-change: transform, opacity;
}

#subscribe {
  animation-delay: -12s; /* Added new item with adjusted delay */
}

#date {
  animation-delay: -8s; /* Adjusted animation delay */
}

#time {
  animation-delay: -4s; /* Adjusted animation delay */
}

#weather {
  animation-delay: 0s; /* No delay needed as it is the first item */
}


@keyframes swipe {
  0%, 100% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  6.25%, 25% { /* Adjusted for faster transition */
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  31.25%, 50% { /* Adjusted for faster transition */
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}


blockquote{
  @apply text-4xl archivo font-condensed my-8 font-black;
}
cite {
  @apply not-italic text-base leading-tight font-normal mt-4 block font-not-condensed;
}

blockquote.bright{
  @apply bg-[#FF4019] text-white p-8;
}
blockquote.bright cite{
  @apply text-black;
}

blockquote.sports{
  @apply bg-black relative text-white p-8 text-6xl uppercase tracking-tight
}
blockquote.sports cite{
  @apply hidden;
}
blockquote.sports:before{
  @apply absolute block bg-[#FF4019] w-8 h-2/3 top-0 left-0 -z-10 rotate-3 origin-top-left;
  content:" ";
}
blockquote.sports:after{
  @apply absolute block bg-purple-700 w-8 h-2/3 bottom-0 right-0 -z-10 rotate-3 origin-bottom-right;
  content:" ";
}

